mixin about-swiper 
    .wrapper    
        .slider-container
            .slider-track   
                .slider-item 
                    img(src="./assets/pic/about-block/games-mini.png" alt="")
                    a(href="#") GAMES
                .slider-item 
                    img(src="./assets/pic/about-block/hobie-mini.png" alt="")
                    a(href="#") hobie
                .slider-item 
                    img(src="./assets/pic/about-block/news-mini.png" alt="")
                    a(href="#")  news
            .slider-buttons 
                button.btn-prev 
                    span.icon-cheveron-left
                button.btn-next 
                    span.icon-cheveron-right
