
mixin master-swiper     
    .slider-container.swiper.mySwiper
        .staff-block__slider-list.swiper-wrapper 
            .staff-block__slider-card.swiper-slide
                .staff-block__slider-img
                    img(src="./assets/pic/masters-block/master1.png" alt="")
                .staff-block__slider-card-descrip.staff-block__card-descrip
                    .staff-block__slider-name.staff-block__name Daniel
                    .staff-block__slider-descrip.staff-block__descrip.descrip Good day, my name is Daniel, I am 20 years old. Despite the fact that I am younger than most of the masters in the team - my life has been extremely eventful since childhood, it is full of victories and defeats, rash actions and incredible luck ... I'm afraid this story will not fit into one post) But I will gladly share my biography with you in my chair, as... 
                    .staff-block__slider-reserve.staff-block__reserve 
                        a.staff-block__href RESERVE
            .staff-block__slider-card.swiper-slide 
                .staff-block__slider-img
                    img(src="./assets/pic/masters-block/master2.png" alt="")
                .staff-block__slider-card-descrip.staff-block__card-descrip
                    .staff-block__slider-name.staff-block__name Michael
                    .staff-block__slider-descrip.staff-block__descrip.descrip Good day, my name is Michael, I am 31 years old. Despite the fact that I am younger than most of the masters in the team - my life has been extremely eventful since childhood, it is full of victories and defeats, rash actions and incredible luck ... I'm afraid this story will not fit into one post) But I will gladly share my biography with you in my chair, as...
                    .staff-block__slider-reserve.staff-block__reserve 
                        a.staff-block__href RESERVE
            .staff-block__slider-card.swiper-slide
                .staff-block__slider-img
                    img(src="./assets/pic/masters-block/master3.png" alt="")
                .staff-block__slider-card-descrip.staff-block__card-descrip
                    .staff-block__slider-name.staff-block__name Evan
                    .staff-block__slider-descrip.staff-block__descrip.descrip Good day, my name is Evan, I am 28 years old. Despite the fact that I am younger than most of the masters in the team - my life has been extremely eventful since childhood, it is full of victories and defeats, rash actions and incredible luck ... I'm afraid this story will not fit into one post) But I will gladly share my biography with you in my chair, as...
                    .staff-block__slider-reserve.staff-block__reserve 
                        a.staff-block__href RESERVE
        .swiper-button-next
        .swiper-button-prev


