mixin reviews-swiper
    .reviews-slider.swiper.mySwiper
        .reviews-slider__slider-list.swiper-wrapper 
            .reviews-slider__slider-card.swiper-slide
                .reviews-slider__card-discrip
                    .reviews-slider__slider-discrip.descrip «Super easy to book online. I didn’t have to wait at all when I got to the barbershop. The hairdresser was friendly, efficient, and skilled — I got a great haircut! Super easy to book online. Lower priced than anything else in our city. Highly recommend Barbershop!»
                    .reviews-slider__slider-name Stepan Bandera
            .reviews-slider__slider-card.swiper-slide
                .reviews-slider__card-discrip
                    .reviews-slider__slider-discrip.descrip «GOOD EVENING, WE ARE FROM UKRAINE! By the way, the barbershop is realy good! My recomends»
                    .reviews-slider__slider-name Vitalii Kim
            .reviews-slider__slider-card.swiper-slide 
                .reviews-slider__card-discrip
                    .reviews-slider__slider-discrip.descrip «Barber was friendly and professional. He asked me what kind of hairstyle I want/used to have and he gave me his input on what he thinks would look good with my head shape. I made the final decision after hearing his opinion and I am satisfied with the outcome. It’s different than what I’m used to, but in a good way!»
                    .reviews-slider__slider-name Volodymyr Zelenskyi
            .reviews-slider__slider-card.swiper-slide 
                .reviews-slider__card-discrip
                    .reviews-slider__slider-discrip.descrip «I loved how I look with my new hairstyle! It was my first time to experience their service. I was satisfied because he would be able to cut my hair that I wish to have. He also applied something that smoothened my hair and the fragrance was really good. I liked it so much! The pricing was affordable!»
                    .reviews-slider__slider-name Oleksii Arestivych
        .reviews-slider__button-next.swiper-button-next
        .reviews-slider__button-prev.swiper-button-prev
