include ./elements/swipers/about-swiper
include ./elements/swipers/master-swiper
include ./elements/swipers/reviews-swiper
include ./elements/burger
include ./elements/button-bottom
include ./elements/hide-price-list
include ./elements/map-form
include ./elements/map-form-mini
