mixin hide-price-list 
    .service-block__hide-prices
        label.label(for="price1") 
            input.radio-field(type="radio" name='price-list' id='price1')
            span.label__fake
            span.label__text Men's haircut
        label.label(for="price2") 
            input.radio-field(type="radio" name='price-list' id='price2')
            span.label__fake
            span.label__text Haircut under the nozzle
        label.label(for="price3") 
            input.radio-field(type="radio" name='price-list' id='price3')
            span.label__fake
            span.label__text Haircut for a boy under 12 years old
        label.label(for="price4") 
            input.radio-field(type="radio" name='price-list' id='price4')
            span.label__fake
            span.label__text Haircut mustache and beard
        label.label(for="price5") 
            input.radio-field(type="radio" name='price-list' id='price5')
            span.label__fake
            span.label__text Men's haircut + beard haircut
        label.label(for="price6") 
            input.radio-field(type="radio" name='price-list' id='price6')
            span.label__fake
            span.label__text Haircut under the nozzle + beard
        label.label(for="price7") 
            input.radio-field(type="radio" name='price-list' id='price7')
            span.label__fake
            span.label__text Shaving the head 
        label.label(for="price8") 
            input.radio-field(type="radio" name='price-list' id='price8')
            span.label__fake
            span.label__text Royal shaving