doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Home works 
        link(type="image/x-icon" href="favicon.ico" rel="shortcut icon")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Hurricane&family=Montserrat:wght@600&family=Roboto:wght@400&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
        link(rel="stylesheet" href="index.css")

    body 
        .app 
            header.header 
                .header__wrapper
                    .header__logo 
                        img.header__img(src="logo.svg")
                    .header__text
                        h1 Home Works List 
                        h2 Student: Margarita Khyzhnyak 
            section.main 
                .main__wrapper
                    ul.main__menu
                        li.main__item Lesson 2. 
                            a.main__href(href="lesson2/index.html") Що таке сайт? Налаштування робочого процесу. Вступ до HTML
                        li.main__item Lesson 3. 
                            a.main__href(href="https://github.com/MargaritaKh0708/Beetroot-HW.git") GIT
                        li.main__item Lesson 4. 
                            a.main__href(href="lesson4/index.html") Семантика, посилання і HTML5 теги
                        li.main__item Lesson 5. 
                            a.main__href(href="lesson5/index.html") Знайомство з CSS
                        li.main__item Lesson 6. 
                            a.main__href(href="lesson6/index.html") CSS-селектори
                        li.main__item Lesson 7. 
                            a.main__href(href="#") (ОПЦІЙНИЙ УРОК) Photoshop для Front-End розробника
                        li.main__item Lesson 8. 
                            a.main__href(href="lesson5/index.html") Figma для Front-End розробника (завершення макету з lesson5)
                        li.main__item Lesson 9. 
                            a.main__href(href="lesson9-10/index.html") Блокова модель документа (CSS Box Model, хедер і першу секцію макету Productly) 
                        li.main__item Lesson 10. 
                            a.main__href(href="lesson9-10/index.html") Flexbox (футер та блок We design tools to unveil your superpowers макету Productly)
                        li.main__item Lesson 11. 
                            a.main__href(href="lesson11/index.html") Вебшрифти, Font Face
                        li.main__item Lesson 12. 
                            a.main__href(href="lesson12/index.html") CSS-позиціювання і трансформація
                        li.main__item Lesson 14. 
                            a.main__href(href="lesson14/index.html") Побудова форм
                        li.main__item Lesson 23. 
                            a.main__href(href="Project/index.html") Проєкт 1. Перший вебсайт з HTML та CSS
                        li.main__item Lesson 25. 
                            a.main__href(href="lesson_JS_1/index.html") Основи JavaScript
                        li.main__item Lesson 26. 
                            a.main__href(href="lesson_JS_4/index.js") Типи даних та оператори
                        li.main__item Lesson 27. 
                            a.main__href(href="lesson_JS_2/index.js") Об’єкти
                        li.main__item Lesson 28. 
                            a.main__href(href="lesson_JS_2/index.js") Масиви
                        li.main__item Lesson 29. 
                            a.main__href(href="lesson_JS_2/index.js") Функції
                        li.main__item Lesson 30. 
                            a.main__href(href="lesson_JS_3/index.js") Цикли


