@mixin f-Roboto-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
@mixin f-Roboto-700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

@mixin f-Roboto-900 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

@mixin f-PTSans-400 {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}
@mixin f-PTSans-700 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}
