mixin icons-block
   section.icons-block 
      .icons-block__wrapper.container 
         .icons-block__list
            .icons-block__item 
               img.icons-block__pic(src="./assets/pic/facebook.png", alt="")
               img.icons-block__reverspic(src="./assets/pic/revers/facebook.png", alt="")
            .icons-block__item 
               img.icons-block__pic(src="./assets/pic/Instagram.png", alt="")
               img.icons-block__reverspic(src="./assets/pic/revers/Instagram.png", alt="")
            .icons-block__item 
               img.icons-block__pic(src="./assets/pic/Shopify.png", alt="")
               img.icons-block__reverspic(src="./assets/pic/revers/Shopify.png", alt="")
            .icons-block__item 
               img.icons-block__pic(src="./assets/pic/Skype.png", alt="")
               img.icons-block__reverspic(src="./assets/pic/revers/Skype.png", alt="")
         .icons-block__list
            .icons-block__item 
               img.icons-block__pic(src="./assets/pic/Pinterest.png", alt="")
               img.icons-block__reverspic(src="/assets/pic/revers/Pinterest.png", alt="")
            .icons-block__item 
               img.icons-block__pic(src="./assets/pic/Wix.png", alt="")
               img.icons-block__reverspic(src="./assets/pic/revers/Wix.png", alt="")
            .icons-block__item 
               img.icons-block__pic(src="./assets/pic/Salesforce.png", alt="")
               img.icons-block__reverspic(src="./assets/pic/revers/Salesforce.png", alt="")
            .icons-block__item 
               img.icons-block__pic(src="./assets/pic/Soundcloud.png", alt="")
               img.icons-block__reverspic(src="./assets/pic/revers/Soundcloud.png", alt="")
               