mixin footer 
    footer.footer 
        .footer__wrapper.container 
            .footer__logo.logo 
                img(src="./assets/pic/logo.svg" alt="")
            .footer__menu 
                ul.footer__menu-list
                    li.footer__menu-item 
                        a.footer__menu-href(href='#') Job openings
                    li.footer__menu-item 
                        a.footer__menu-href(href='#') All services
                    li.footer__menu-item 
                        a.footer__menu-href(href='#') Waranty
                ul.footer__menu-list
                    li.footer__menu-item-policy
                        a.footer__policy-href(href='#') Privacy Policy
                    li.footer__menu-item-policy
                        a.footer__policy-href(href='#') Agreement on the processing of personal data
            ul.footer__social-list
                li.footer__social-list-item
                    a.footer__social-href.icon-facebook(href='#')
                li.footer__social-list-item
                    a.footer__social-href.icon-youtube(href='#')
                li.footer__social-list-item
                    a.footer__social-href.icon-vk(href='#')
                li.footer__social-list-item
                    a.footer__social-href.icon-twitter(href='#')


