mixin presentation-block
    section.presentation-block
        .presentation-block__wrapper.container
            .presentation-block__text-part
                p.presentation-block__subtitle #Dangerous Man’s club
                h1.presentation-block__title HAIRCUT AND SHAVE
                p.presentation-block__descrip.descrip-style We cut and shave on the conscience, pour whiskey. We can't promise more. Do not go to us if you want to get better, you should go to get a good haircut and spend time.
            .presentation-block__button.button-style
                a.presentation-block__href.button-href-style(href="#contacts") Make an appointment 
            .presentation-block__contacts
                p.presentation-block__descrip.descrip-style Old Town, Central str. 112 
                a.presentation-block__descrip.descrip-style.h-margintop(href='tel:0 800 12-12-121') 0 800 12-12-121 
                a.presentation-block__descrip.descrip-style(href='tel:0 99 12-12-121') 0 99 12-12-121
            .presentation-block__bottom
                .presentation-block__social
                    .presentation-block__social-item 
                        a.presentation-block__social-href(href="https://www.facebook.com/") facebook
                    .presentation-block__social-item 
                        a.presentation-block__social-href(href="https://www.youtube.com/") youtube
                    .presentation-block__social-item 
                        a.presentation-block__social-href(href="https://www.instagram.com/") instagram
                .presentation-block__more 
                    #js-more.presentation-block__more-group
                        a.presentation-block__more-text MORE SPECIAL
                            .icon-chevron-down




