mixin presentation-block
    section.presentation-block
        .presentation-block__wrapper.container
            .presentation-block__text-part
                p.presentation-block__subtitle #Dangerous Man’s club
                h1.presentation-block__title HAIRCUT AND SHAVE
                p.presentation-block__descrip.descrip-style We cut and shave on the conscience, pour whiskey. We can't promise more. Do not go to us if you want to get better, you should go to get a good haircut and spend time.
            .presentation-block__button.button-style
                a.presentation-block__href.button-href-style(href="#") Make an appointment 
            .presentation-block__contacts
                p.presentation-block__descrip.descrip-style Old Town, Central str. 112 
                p.presentation-block__descrip.descrip-style.h-margintop 0 800 12-12-121 
                p.presentation-block__descrip.descrip-style 0 99 12-12-121
            .presentation-block__bottom
                .presentation-block__social
                    .presentation-block__social-item 
                        a.presentation-block__social-href(href="#") facebook
                    .presentation-block__social-item 
                        a.presentation-block__social-href(href="#") youtube
                    .presentation-block__social-item 
                        a.presentation-block__social-href(href="#") instagram
                .presentation-block__more 
                    .presentation-block__more-group 
                        a.presentation-block__more-text(href="#") MORE SPECIAL
                        span.icon-chevron-down
            .presentation-block__img
                img(src="./assets/pic/main-man.png" alt="")






