mixin works-block 
    section.works-block
        .works-block__wrapper.container
            .works-block__head-hide-content.works-block__head-content
                p.works-block__subtitle.subtitle #WORKS
                h2.works-block__title.title OUR WORKS
            .works-block__gallery 
                .works-block__row.row1
                    .works-block__img 
                        img(src="./assets/pic/our-works-block/man1.png" alt="")
                    .works-block__img 
                        img(src="./assets/pic/our-works-block/man2.png" alt="")
                    .works-block__img 
                        img(src="./assets/pic/our-works-block/man3.png" alt="")
                .works-block__row.row2
                    .works-block__img 
                        img(src="./assets/pic/our-works-block/man4.png" alt="")
                    .works-block__img 
                        img(src="./assets/pic/our-works-block/man5.png" alt="")
                    .works-block__img 
                        img(src="./assets/pic/our-works-block/man6.png" alt="")
                .works-block__row.row3
                    .works-block__img 
                        img(src="./assets/pic/our-works-block/man7.png" alt="")
                    .works-block__img 
                        img(src="./assets/pic/our-works-block/man8.png" alt="")
                    .works-block__img 
                        img(src="./assets/pic/our-works-block/man9.png" alt="")
                .works-block__row.row4
                    .works-block__img 
                        img(src="./assets/pic/our-works-block/man10.png" alt="")
                    .works-block__img 
                        img(src="./assets/pic/our-works-block/man11.png" alt="")
                    .works-block__img 
                        img(src="./assets/pic/our-works-block/man12.png" alt="")
                    .works-block__img 
                        img(src="./assets/pic/our-works-block/man13.png" alt="")
            .works-block__head-content
                p.works-block__subtitle.subtitle #WORKS
                h2.works-block__title.title OUR WORKS
                .works-block__descrip.descrip In style, as in any field, versatility is valued. Perhaps that is why many people are so fond of the Crop haircut. What's so special about her? How is it different from other hairstyles? Where and how did she gain popularity? Let's deal with all the questions in order.
                    .works-block__social 
                        span.icon-instagram 
                        a.works-block__social-href.works-block__social-text(href='#') More photos in our Instagram
            .works-block__hide-descrip.works-block__descrip.descrip In style, as in any field, versatility is valued. Perhaps that is why many people are so fond of the Crop haircut. What's so special about her? How is it different from other hairstyles? Where and how did she gain popularity? Let's deal with all the questions in order.
                .works-block__hide-social.works-block__social 
                    span.icon-hide-instagram.icon-instagram 
                    a.works-block__hide-social-href.works-block__social-href(href="#") More photos in our 
                        span.h-color Instagram
