.card__policy-section,
.card__call-of-action {
    text-align: center;
}

.card__text_width {
    max-width: 410px;
    margin: 0 auto;

}

.card__call-of-action {
    border-top: 1px solid $c-lightgray;
}

.card__text_f-size {
    margin-top: 4px;
    font-size: 16px;
}


.input-field_size {
    width: 150px;
}

.textarea {
    outline-offset: none;
    outline: none;
    resize: none;
    width: 100%;
}

.textarea::-webkit-scrollbar {
    width: 3px;
}

.textarea::-webkit-scrollbar-track {
    box-shadow: 0 0 10px $c-blue;
}

.textarea::-webkit-scrollbar-thumb {
    background-color: $c-black;
    border-radius: 50%;
}