@font-face {
    font-family: "mr_apexmk3";
    src: url("./assets/fonts/mr_apex/mr_apexmk3_medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/monserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "ArchivoNarrow";
    src: url("./assets/fonts/archivo_narrow/ArchivoNarrow-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "ArchivoNarrow";
    src: url("./assets/fonts/archivo_narrow/ArchivoNarrow-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "ArchivoNarrow";
    src: url("./assets/fonts/archivo_narrow/ArchivoNarrow-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}