//! Colors

$c-extra-lightrgray:#F6F6F6;
$c-header-color:#38383880;
$c-lemon-opacity:#b8d7613d;
$c-extra-darkgray:#313131;
$c-footer-color:#6e6d6d;
$c-black-gold:#1e1e1a;
$c-lightgray: #929292;
$c-darkgray: #383838;
$c-darklemon:#627237;
$c-semiwhite:#EFEFEF;
$c-light:#F3F3F3;
$c-lemon:#B8D761;
$c-white:#FFFFFF;
$c-gray:#959595;
$c-black:#000;