mixin email-section 
    .card__email-section
        label.label(for="email") 
            span.label__text E-mail
            input.input-field.input-field_width(type="email" name='email' id='email' placeholder="Enter your email")
            p.card__text We'll never share your email with anyone else.