mixin gender-section 
    .card__gender-section
        label.label.label_flex(for="male") 
            input.radio-field(type="radio" name='gender' id='male')
            span.label__fake
            span.label__text Male
        label.label.label_flex(for="female") 
            input.radio-field(type="radio" name='gender' id='female')
            span.label__fake
            span.label__text Female