mixin name-section 
    .card__name-section
        label.label(for="name") 
            span.label__text First Name
            input.input-field(type="text" name='name' id='name' placeholder="Enter your name")
        label.label(for="surname") 
            span.label__text Last Name
            input.input-field(type="text" name='surname' id='surname' placeholder="Enter your surname")