mixin place-section 
    .card__place-section 
        label.label(for="country" ) 
            span.label__text Country
                .select-wrapper
                    select.select-fiel.country.input-field(name="country" id="country" placeholder="Select your country")
                        option(value="ukraine") Ukraine 
                        option(value="ukraine") Ukraine 
                        option(value="ukraine") Ukraine 
                        option(value="ukraine") Ukraine 
                        option(value="ukraine") Ukraine 
                        option(value="ukraine") Ukraine 
                        option(value="ukraine") Ukraine 
                        option(value="ukraine") Ukraine 
                        option(value="ukraine") Ukraine      
        label.label(for="city") 
            span.label__text City
            input.input-field(type="text" name='city' id='city' placeholder="Enter your city")