mixin text-block-section 
    .card__textarea-section
        input.input-field.input-field_width(type="text" name='text' id='text')
    .card__policy-section 
        p.card__text.card__text_width By clicking the 'Sign Up' button, you confirm that you accept our <a (class="card__href" href="#")> Terms of Use </a> and  <a (class="card__href" href="#")>Privacy Policy</a>
    .card__call-of-action
        p.card__text.card__text_f-size Have an account?  <a class="card__href" href="#"> Log In  </a>                           