//! Colors

$c-lightbrown: #544837;
$c-orange: #ff9900;
$c-creamy: #f2f2f2;
$c-yellow: #fab005;
$c-violet: #7752be;
$c-indigo: #173a56;
$c-brown: #2f281e;
$c-gray: #bcd0e5;
$c-blue: #4dadf7;
$c-red: #f03e3d;
$c-white: #fff;
