mixin simple-text 
    footer.footer 
        .footer__wrapper 
            .footer__social 
                h3 Social media links 
            .footer__icons 
                div 
                    a.icon-inst(href="https://instagram.com/_m.khk?utm_medium=copy_link") <i class="fa fa-instagram" aria-hidden="true"></i>
                div 
                    a.icon-fb(href="https://www.facebook.com/margarita.khizhnyak.3") <i class="fa fa-facebook-official" aria-hidden="true"></i>
                div 
                    a.icon-lk(href="https://www.linkedin.com/in/margarita-khizhnyak-29340a229") <i class="fa fa-linkedin" aria-hidden="true"></i>