mixin main-textblock 
    section.main-text.main-text_modification.h-border 
            .main-text__item 
                h2.h-title  Досвід роботи
                ul.main-text__list 
                    li.main-text__data <i class="fa fa-comments-o" aria-hidden="true"></i> IT-Agency "Wezom", "Elit-web"
                    li.main-text__data.main-text__data_font вересень, 2021 - по сьогоднішній день
                    li.main-text__data  Напрямок
                    li.main-text__data.main-text__data_font seo-копірайтинг, рерайтинг
                ul.main-text__list 
                    li.main-text__data <i class="fa fa-file-text-o" aria-hidden="true"></i> фрилансер
                    li.main-text__data.main-text__data_font травень, 2019 - по сьогоднішній день
                    li.main-text__data Напрямок
                    li.main-text__data.main-text__data_font seo-копірайтинг, рерайтинг, контент-менеджер
                ul.main-text__list 
                    li.main-text__data  <i class="fa fa-university" aria-hidden="true"></i> АТ "Райффайзен Банк Аваль" CBO
                    li.main-text__data.main-text__data_font квітень, 2011 - травень, 2018
                    li.main-text__data  Посада
                    li.main-text__data.main-text__data_font головний економіст управління інформаційних систем
            .main-text__item 
                h2.h-title  Освіта та кваліфікації
                ul.main-text__list 
                    li.main-text__data <i class="fa fa-graduation-cap" aria-hidden="true"></i> Спеціаліст 
                    li.main-text__data.main-text__data_font вересень, 2012 - червень, 2013
                    li.main-text__data  Херсонський національний технічний університет
                    li.main-text__data.main-text__data_font факультет кібернетики, спеціальність "Економічна кібернетика"
                ul.main-text__list 
                    li.main-text__data <i class="fa fa-graduation-cap" aria-hidden="true"></i> Бакалавр
                    li.main-text__data.main-text__data_font вересень, 2008 - червень, 2012
                    li.main-text__data Херсонський національний технічний університет
                    li.main-text__data.main-text__data_font Факультет кібернетики, спеціальність "Економічна кібернетика"
            .main-text__item 
                h2.h-title  Курси
                ul.main-text__list 
                    li.main-text__data <i class="fa fa-plus" aria-hidden="true"></i> "Beetroot Academy"
                    li.main-text__data.main-text__data_font січень, 2022 - по сьогоднішній день
                    li.main-text__data Frontend Developer
                ul.main-text__list 
                    li.main-text__data <i class="fa fa-plus" aria-hidden="true"></i> "Wezom Academy"
                    li.main-text__data.main-text__data_font березень, 2019 - травень, 2019
                    li.main-text__data Copywriting 
                ul.main-text__list 
                    li.main-text__data <i class="fa fa-plus" aria-hidden="true"></i> Учбовий центр "Твій успіх"
                    li.main-text__data.main-text__data_font березень, 2018 - серпень, 2018
                    li.main-text__data English
            