//! Wrapper style

.header {
  background-color: $c-creamy;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}
.header__wrapper {
  justify-content: space-between;
  padding: 35px 15px;
  display: flex;
  width: 100%;
}
//Logo style
.header__logo {
  align-items: flex-end;
  display: flex;
}
.logo-pic {
  width: 32px;
  height: 32px;
}
.logo-name {
  width: 143px;
  height: 29px;
}

// Menu style
.header__menu {
  align-items: flex-end;
  display: flex;
  gap: 30px;
}
.nav__list {
  @include f-Poppins-400;
  justify-content: space-between;
  list-style-type: none;
  line-height: 28px;
  font-size: 14px;
  color: $c-brown;
  display: flex;
  gap: 24px;
}

.nav__item > a {
  text-decoration: none;
  color: $c-brown;
}

// Button style

.buttons {
  display: flex;
}
.nav__singin,
.nav__singup {
  @include f-Poppins-600;
  margin-right: 14px;
  border-radius: 6px;
  line-height: 24px;

  font-size: 16px;
  width: 102px;
  height: 46px;
}

.nav__singin {
  border: solid 1px $c-gray;
  color: $c-indigo;
}

.nav__singup {
  background-color: $c-orange;
  color: $c-white;
  border: none;
}
