mixin footer 
    footer.footer 
        .footer__wrapper
            h2.footer__title: a(name="contacts") Contacts
            .footer__subtitle: span Want to know more or just chat? You are welcome!
            form(action="#" method="post")
                .footer__button
                    button.sent-button Send message
                .footer__social    
                    .social__pic
                        img(src="pic/in.png", alt="")
                    .social__pic
                        img(src="pic/Vector1.png", alt="")
                    .social__pic
                        img(src="pic/be.png", alt="")
                    .social__pic
                        img(src="pic/Vector.png", alt="")
                .social__text: span Like me on <p> LinkedIn, Instagram, Behance, <p> Dribble

