mixin header 
    header.header 
            .header__wrapper 
                <div class="home"> <a class="home__link" href="../index.html"> <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> HOME WORKS LIST</a> </div>
                nav.nav 
                    ul.nav__menu 
                        li.nav__item: a(class="nav__href" href="#home") Home
                        li.nav__item: a(class="nav__href" href="#about") About me
                        li.nav__item: a(class="nav__href" href="#skills") Skills
                        li.nav__item: a(class="nav__href" href="#portfolio") Portfolio
                        li.nav__item: a(class="nav__href" href="#contacts") Contacts
                    .line