mixin portfolio 
    section.portfolio
            .portfolio__wrapper
                h2.portfolio__title: a(name="portfolio") Portfolio
                .portfolio__content
                    .portfolio__item
                        .portfolio__img
                            img(src="pic/portfolio1.png", alt="")
                        span.portfolio__text: a.portfolio__href(href="#") Online fashion store -<p> Homepage
                    .portfolio__item
                        .portfolio__img
                            img(src="pic/reebok.png", alt="")
                        span.portfolio__text: a.portfolio__href(href="#") Reebok Store - Concept
                    .portfolio__item
                        .portfolio__img
                            img(src="pic/braun.png", alt="")
                        span.portfolio__text: a.portfolio__href(href="#") Braun Landing Page - Concept
