mixin text-section 
    section.about
        .about__wrapper
            h2.about__title: a(name="about") About me
            p.about__text Hi, I'm Denis – UX/UI designer from Minsk. 
            p.about__text.about__text_mod I'm interested in design and everything connected with it.
            p.about__text I'm studying at courses "Web and mobile design 
            p.about__text.about__text_mod interfaces" in IT-Academy.
            p.about__text Ready to implement excellent projects 
            p.about__text.about__text_mod with wonderful people.


