mixin design
    section.design-block
        .design-block__wrapper 
            .design-block__item
                .design-block__content 
                    h1.design-block__title The Design Thinking superpowers
                    span.design-block__text Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.
                .design-block__click
                    button.design-block__button(type="submit") Get started
                    .design-block__link: a(href="#") Watch the Video
            .design-block__item
                .design-block__pic 
                    img(src="assets/pic/Image.png", alt="")
                    

