mixin header 
    header.header
        .header__wrapper 
            .header__logo 
                .logo-pic
                    img(src="assets/pic/header/Bitmap.png", alt="")
                .logo-name 
                    img(src="assets/pic/header/productly.png", alt="")
            .header__menu
                nav.nav 
                    ul.nav__list 
                        li.nav__item Product                    
                        li.nav__item Customers
                        li.nav__item Pricing
                        li.nav__item Resources
                .buttons 
                    button.nav__singin(type="submit") Sign In
                    button.nav__singup Sign Up    
