mixin header 
    header.header
        .header__wrapper.container 
            .header__logo 
                .logo-pic
                    img(src="assets/pic/header/Bitmap.png", alt="")
                .logo-name 
                    img(src="assets/pic/header/productly.png", alt="")
            .header__menu
                nav.nav 
                    ul.nav__list 
                        li.nav__item: a(href="#") Product     
                        li.nav__item: a(href="#") Customers
                        li.nav__item: a(href="#") Pricing
                        li.nav__item: a(href="#") Resources
                .buttons 
                    button.nav__singin(type="submit") Sign In
                    button.nav__singup(type="submit")  Sign Up    
