mixin tools
    section.tools 
        .tools__wrapper
            h2.tools__title We design tools to unveil your superpowers
            .tools__list 
                .tools__card
                    .card__shadow.h-violet
                    .card-pic.h-violet
                        .card-pic__wrapper
                            img(src="assets/pic/icons/4.png", alt="")   
                    h3.card__title First click tests
                    span.card__text While most people enjoy casino gambling.
                .tools__card
                    .card__shadow.h-orange
                    .card-pic.h-orange
                        .card-pic__wrapper
                            img(src="assets/pic/icons/3.png", alt="")
                    h3.card__title Design surveys
                    span.card__text Sports betting, lottery and bingo playing for the fun
                .tools__card 
                    .card__shadow.h-red
                    .card-pic.h-red
                        .card-pic__wrapper
                            img(src="assets/pic/icons/2.png", alt="")
                    h3.card__title Preference tests
                    span.card__text The Myspace page defines the individual.
                .tools__card 
                    .card__shadow.h-blue
                    .card-pic.h-blue
                        .card-pic__wrapper
                            img(src="assets/pic/icons/1.png", alt="")
                    h3.card__title Five second tests
                    span.card__text Personal choices and the overall personality of the person. 
            .tools__button
                button.design-block__button(type="submit") SIGN UP NOW
                    